.task-main-block {
    /* margin-top: 200px; */
    margin-left: 200px;
    cursor: pointer;
    height: 1000px;
}

.task-background {
    background: url('../../../assets/covid-vaccine-3.png') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 100px 100px 100px;
}

.wf-block {
    padding: 10px 10px 10px 10px;
    border: 1px solid gray;
    width: 500px;
    height: 50px;
    margin-top: 20px;
}

.margin-right {
    margin-right: 10px;
}

.choose-workflow {
    margin-right: 70px;
}

.step-box {
    margin-top: 50px;
    border: 1px solid gray;
    padding: 10px 10px 10px 10px;
}

.select-activity {
    margin-top: 10px;
}

.workflow-assign-block {
    margin-top: 30px;
    margin-bottom: 30px;
}

.sub-block {
    padding: 10px 10px 10px 10px;
    background-color: #22f4e4;
    border: 1px solid gray;
    margin-bottom: 10px;
}