<div class="task-main-block">
    <div>
        <div>
            <h3>Available Workflows:</h3>
            <div *ngFor="let workflow of workflowList; let i=index">
                <div class="wf-block">
                    <input class="margin-right" (change)="getWorkflowSteps(workflow.id)" type="radio" name="workflow" id="i"> <span class="choose-workflow" >Choose Workflow</span>
                    <span class="margin-right">{{i+1}}.</span>
                    <span class="workflow-name">{{workflow.name}}</span>
                </div>
            </div>

            <div class="workflow-assign-block">
                <div class="row" *ngIf="stepMainBranch.length > 0">
                    <div class="col-md-6">
                        <h3>Main Branch</h3>
                        <div *ngFor="let main of stepMainBranch">
                            <span>{{main.stepSequence}}</span>
                            <span>{{main.name}}</span>
                            <br>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Assign To:</h5>
                        <select class="select-activity" (change)="mainBranchAssign($event)">
                            <option [value]="activity.id" *ngFor="let activity of activityList">{{activity.name}}</option>
                        </select>
                    </div>
                    <br>
                </div>
               
                <hr>

                <div class="row" *ngIf="stepAndFirstBranch.length > 0">
                    <div class="col-md-6">
                        <h3>And A-Split</h3>
                        <div *ngFor="let andFirst of stepAndFirstBranch">
                            <span>{{andFirst.stepSequence}}</span>
                            <span>{{andFirst.name}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Assign To:</h5>
                        <select class="select-activity" (change)="andFirstBranchAssign($event)">
                            <option [value]="activity.id" *ngFor="let activity of activityList">{{activity.name}}</option>
                        </select>
                    </div>
                </div>

                <hr>

                <div class="row" *ngIf="stepAndSecondBranch.length > 0">
                    <div class="col-md-6">
                        <h3>And B-Split</h3>
                        <div *ngFor="let andSecond of stepAndSecondBranch">
                            <span>{{andSecond.stepSequence}}</span>
                            <span>{{andSecond.name}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Assign To:</h5>
                        <select class="select-activity" (change)="andSecondBranchAssign($event)">
                            <option [value]="activity.id" *ngFor="let activity of activityList">{{activity.name}}</option>
                        </select>
                    </div>
                </div>

                <hr>

                <div class="row" *ngIf="stepOrFirstBranch.length > 0">
                    <div class="col-md-6">
                        <h3>Or A-Split</h3>
                        <div *ngFor="let orFirst of stepOrFirstBranch">
                            <span>{{orFirst.stepSequence}}</span>
                            <span>{{orFirst.name}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Assign To:</h5>
                        <select class="select-activity" (change)="orFirstBranchAssign($event)">
                            <option [value]="activity.id" *ngFor="let activity of activityList">{{activity.name}}</option>
                        </select> 
                    </div>
                </div>

                <hr>

                <div class="row" *ngIf="stepOrSecondBranch.length > 0">
                    <div class="col-md-6">
                        <h3>Or B-Split</h3>
                        <div *ngFor="let orSecond of stepOrSecondBranch">
                            <span>{{orSecond.stepSequence}}</span>
                            <span>{{orSecond.name}}</span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <h5>Assign To:</h5>
                        <select class="select-activity" (change)="orSecondBranchAssign($event)">
                            <option [value]="activity.id" *ngFor="let activity of activityList">{{activity.name}}</option>
                        </select>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>