.step-background {
    background: url('../../../assets/surgeon.jpg') no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 100px 100px 100px 100px;
    height: 2000px;
}

.btn-user {
  margin-right: 30px;
  float: right;
  margin-top: 85px;
} 

.step-body {
    /* border: 1px solid gray;
    padding: 10px 10px 10px 10px;
    margin-top: 20px;
    margin-right: 20px; */
    padding: 10px 10px 10px 10px;
    /* background-image: linear-gradient(to right, #1ed6c9 , white); */
    border: 1px solid whitesmoke;
    background-color: whitesmoke;
    margin-bottom: 10px;
    color: black;
    border-radius: 4px;
    width: 100%;
    border-left: 10px solid #18a39b;
}

.step-box {
    margin-top: 80px;
    margin-left: 10px;
    width: 800px;
    height: 80px;
}

.checkbox {
    float: right;
    height: 20px;
    width: 20px;
    margin-top: 8px;
}

.btn-start {
    margin-left: 80px;
    background-color: transparent;
}

.btn-submit {
    margin-left: 734px;
    margin-top: 22px;
}

.step-sequence {
    margin-right: 20px;
}

/* .and-or-split {
    margin-right: 20px;
} */

.split-sequence {
    margin-left: 20px;
}

.margin-right {
    margin-right: 10px;
}

.execute {
    font-size: 1.2em;
}

.execute-step {
    margin-top: 30px;
    margin-right: 30px;
    float: right;
}

.step-execute {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
    margin-left: 20px;
  }

  #step-execute {
    width: 200px;
    font-size: 18px;
    padding: 10px;
    border: none;
    background: white;
    color: black;
    cursor: pointer;
  }
  
  #step-execute:hover {
    background: #22f4e4;
    color: white;
  }
  
  .step-execute:hover {
    background: #22f4e4;
    color: white;
  }

  .gradient-header {
    background-image: linear-gradient(to right, #03090e , #22f4e4);
    height: 100px;
    position: fixed;
    width: 100%;
    z-index: 2;
  }

  .header-title {
      font-size: 4em;
      color: white;
  }

  .header-block {
    margin-left: 30px;
  }

  .wf-icon {
    height: 60px;
    width: 61px;
    margin-bottom: 38px;
    margin-right: 28px;
}

.child-block {
    padding: 73px 30px 30px 30px;
}

input[type=text], select {
    /* width: 100%; */
    padding: 9px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
    /* width: 100%; */
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  /* Style The Dropdown Button */
.dropdown-block {
    float: right;
    margin-top: 15px;
    margin-right: 50px;
}

.dropbtn {
    background-color: transparent;
    color: black;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #22f4e4;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {
    background-color: #f1f1f1;
    cursor: pointer;
  }
  
  /* Show the dropdown menu on hover */
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  /* Change the background color of the dropdown button when the dropdown content is shown */
  .dropdown:hover .dropbtn {
    background-color:#22f4e4;
  }

  .menu-icon {
      height: 50px;
      width: 50px;
  }

  .step-block {
    margin-top: 30px;
    width: 1162px;
    margin-left: 210px;
  }