<div class="task-form task" id="task-form">
    <h3 style="margin-bottom: 20px;">Create New Tasks</h3>

    <div class="conditions">
        <input type="checkbox" id="parent" value="parent" checked class="parent-node" (change)="parentNodeCheck($event)">ParentNode
        <input type="radio" name="andOrSplit" id="andSplit" value="andSplit" class="parent-node" (change)="parentNodeCheck($event)">And Split
        <input type="radio" name="andOrSplit" id="orSplit" value="orSplit" class="parent-node" (change)="parentNodeCheck($event)">Or Split
        <input type="checkbox" class="parent-node split-again" id="splitagain" (change)="parentNodeCheck($event)">Split Again
    </div>
    
    <br>
    <input type="text" class="inputtext" [(ngModel)]="taskName" placeholder="Create New Task">
    <button class="btn" id="btn" (click)="createTask()">+</button>
   
    <div *ngFor="let task of taskList; let i = index">
        <span *ngIf="i !== 0">{{task.stepSequence}}. {{task.taskName}}</span>
    </div>
</div>