<div class="gradient-header">
    <div class="header-block">
        <img class="wf-icon" src="../../../assets/wf-icon.png">
        <span class="header-title">Track Tasks</span>
        <!-- <button class="step-execute execute-step" (click)="taskTrack()">Track Task</button> -->
        <div class="dropdown-block">
            <div class="dropdown">
                <button class="dropbtn">
                    <img class="menu-icon" src="../../../assets/menu.png">
                </button>
                <div class="dropdown-content">
                    <a (click)="menuRoute('assign-task')">Assign Task</a>
                    <a (click)="menuRoute('step-execution')">Step Execution</a>
                    <a (click)="menuRoute('task')">Task Creation</a>
                    <a (click)="menuRoute('task-track')">Task Track</a>
                    <a (click)="menuRoute('overview')">Overview</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="child-block step-background">
    <div style="margin-top: 100px">
        <!-- <div class="container">
            <canvas id="myCanvas" width="1000" height="300"></canvas>
        </div> -->
        <div class="flex-wrap" *ngFor="let actor of stepListWithActors">
            <span class="user-title">User {{actor[0].user}}'s progress:</span>
            <span *ngFor="let step of actor; let i=index" class="circle"
                [ngClass]="{
                    'green': step.color === 'green',
                    'white': step.color === 'white',
                    'yellow': step.color === 'yellow',
                    'red': step.color === 'red',
                    'push-down': step.divisor === '2',
                    'push-right': step.divisor === '2' && i !== 0,
                    'continue-right': step.secondDivisor === '2'
                }">
                <span>
                    {{step.steps.stepSequence}}
                </span>
                <hr *ngIf="i !== actor.length - 1"
                    [ngClass]="{
                        'hr-slanted-right': step.divisor === '2' && i !== 0
                    }">
                <div *ngIf="step.divisor === '2' && i !== 0 && step.secondDivisor !== '2'" class="vl"></div>
            </span>
        </div>
        <div class="legend-box">
            <h3 class="legend-header">Legend</h3>
            <div class="row">
                <div class="col-md-6">
                    <h4>Steps Overview</h4>
                    <div *ngFor="let step of stepList" class="step-sequence-block">
                        <span>{{step.stepSequence}}</span>)&nbsp;
                        <span>{{step.name}}</span>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="circleBase white"></div><span class="circle-definiton-block">Steps remaining to be completed</span><br>
                    <div class="circleBase yellow"></div><span class="circle-definiton-block">Steps completed</span><br>
                    <div class="circleBase red"></div><span class="circle-definiton-block">Steps not taken in OR branch</span><br>
                    <div class="circleBase green"></div><span class="circle-definiton-block">Token</span>
                </div>
            </div>
        </div>
    </div>
</div>